.home-page {
    font-family: Arial, sans-serif;
    color: #333;
    background-color:  #fff;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .header {
    background: #5a5a5c;
    color: #fff;
    padding: 10px;

  }
  
  .header h2 {
    margin: 0;
    color: #fff;
    font-size: 2.0em;
  }
  
  .header p {
    font-size: 1.0em;
    margin: 10px 0;
  }
  
  .overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px;
  }
  
  .overview-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
  }


  
  .overview-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .overview-item h2 {
    font-size: 1.5em;
    margin-top: 0;
  }
  
  .overview-item p {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #3484d9;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .btn:hover {
    background-color: #5180b5;
    transform: scale(1.05);
  }
  
  .footer {
    background: #007bff;
    color: #fff;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 4px solid #0056b3;
  }
  
  .footer p {
    margin: 0;
    font-size: 0.9em;
  }
  